<section class="caviar-home-benefits" aria-label="Services et newsletter">
    <div class="caviar-home-benefits__container">
        <div class="caviar-home-benefits__items">
            <article class="caviar-home-benefit-item">
                <div class="caviar-home-benefit-item__icon" aria-hidden="true">
                    <img src="{{ asset('bundles/caviartheme/assets/img/boxlogo1.png') }}" alt="" loading="lazy">
                </div>
                <h3 class="caviar-home-benefit-item__title">Livraison offerte dès <span>350€</span> d'achat</h3>
                <p class="caviar-home-benefit-item__text">Chaine du froid garantie, à la date de votre<br>choix</p>
            </article>

            <article class="caviar-home-benefit-item">
                <div class="caviar-home-benefit-item__icon" aria-hidden="true">
                    <img src="{{ asset('bundles/caviartheme/assets/img/Contact Icon.png') }}" alt="" loading="lazy">
                </div>
                <h3 class="caviar-home-benefit-item__title">Conseils d’experts</h3>
                <p class="caviar-home-benefit-item__text">Notre équipe répond à toutes vos<br>questions</p>
            </article>

            <article class="caviar-home-benefit-item">
                <div class="caviar-home-benefit-item__icon" aria-hidden="true">
                    <img src="{{ asset('bundles/caviartheme/assets/img/fishl-logo.png') }}" alt="" loading="lazy">
                </div>
                <h3 class="caviar-home-benefit-item__title">L’art d’offrir</h3>
                <p class="caviar-home-benefit-item__text">Choisissez votre coffret et votre<br>message personnalisé</p>
            </article>

            <article class="caviar-home-benefit-item">
                <div class="caviar-home-benefit-item__icon" aria-hidden="true">
                    <img src="{{ asset('bundles/caviartheme/assets/img/payment-logo.png') }}" alt="" loading="lazy">
                </div>
                <h3 class="caviar-home-benefit-item__title">Paiements sécurisés</h3>
                <p class="caviar-home-benefit-item__text">et paiement en plusieurs fois avec<br>Alma</p>
            </article>
        </div>

        <div class="caviar-home-newsletter">
            <div class="caviar-home-newsletter__copy">
                <h3 class="caviar-home-newsletter__title">Ne manquez plus rien !</h3>
                <p class="caviar-home-newsletter__text">Recevez nos actualités, recettes et conseils d'expert</p>
            </div>
            <form class="caviar-home-newsletter__form" action="#" method="post">
                <input type="email" class="caviar-home-newsletter__input" aria-label="Email" placeholder="">
                <button class="caviar-home-newsletter__submit" type="submit">JE M’INSCRIS</button>
            </form>
        </div>
    </div>
</section>
