<section class="caviar-home-claim" aria-label="{{ 'CaviarTheme.home.claimAria'|trans|sw_sanitize }}">
    <div class="caviar-home-claim__inner">
        <p class="caviar-home-claim__text">{{ 'CaviarTheme.home.claimText'|trans|sw_sanitize }}</p>
    </div>
</section>
