<section class="caviar-home-footer-links" aria-label="Liens et informations">
    <div class="caviar-home-footer-links__container">
        <div class="caviar-home-footer-links__top">
            <div class="caviar-home-footer-links__brand">
                <img
                    src="{{ asset('/bundles/caviartheme/assets/img/Group.png') }}"
                    alt="Caviar House"
                    class="caviar-home-footer-links__brand-crest"
                    onerror="this.onerror=null;this.src='{{ asset('/bundles/caviartheme/storefront/assets/header/logo-latest.svg') }}';"
                >
            </div>
            <div class="caviar-home-footer-links__social-wrap">
                <span class="caviar-home-footer-links__nous">Nous suivre :</span>
                <div class="caviar-home-footer-links__social">
                    <a href="#" aria-label="Youtube">
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <path fill="currentColor" d="M23.2 7.3a3 3 0 0 0-2.1-2.1C19.2 4.7 12 4.7 12 4.7s-7.2 0-9.1.5A3 3 0 0 0 .8 7.3 31.8 31.8 0 0 0 .3 12a31.8 31.8 0 0 0 .5 4.7 3 3 0 0 0 2.1 2.1c1.9.5 9.1.5 9.1.5s7.2 0 9.1-.5a3 3 0 0 0 2.1-2.1 31.8 31.8 0 0 0 .5-4.7 31.8 31.8 0 0 0-.5-4.7zM9.7 15.2V8.8l5.6 3.2z"/>
                        </svg>
                    </a>
                    <a href="#" aria-label="Facebook">
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <path fill="currentColor" d="M14 8h2V5h-2c-2.2 0-4 1.8-4 4v2H8v3h2v5h3v-5h2.3l.7-3H13V9c0-.6.4-1 1-1z"/>
                        </svg>
                    </a>
                    <a href="#" aria-label="Twitter">
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <path fill="currentColor" d="M18.9 3h2.9l-6.4 7.3L23 21h-6l-4.7-6.1L6.9 21H4l6.9-7.9L3 3h6.1l4.2 5.5L18.9 3zm-1 16.3h1.6L8.3 4.6H6.6z"/>
                        </svg>
                    </a>
                    <a href="#" aria-label="Instagram">
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <path fill="currentColor" d="M7 3h10a4 4 0 0 1 4 4v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V7a4 4 0 0 1 4-4zm0 2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2zm5 3.5A4.5 4.5 0 1 1 7.5 13 4.5 4.5 0 0 1 12 8.5zm0 2A2.5 2.5 0 1 0 14.5 13 2.5 2.5 0 0 0 12 10.5zM17.8 6.7a1.1 1.1 0 1 1-1.1 1.1 1.1 1.1 0 0 1 1.1-1.1z"/>
                        </svg>
                    </a>
                    <a href="#" aria-label="LinkedIn">
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <path fill="currentColor" d="M6.1 8.8H3.2V21h2.9zM4.6 3A1.7 1.7 0 1 0 6.3 4.7 1.7 1.7 0 0 0 4.6 3zM21 21h-2.9v-5.9c0-1.4-.5-2.4-1.8-2.4a2 2 0 0 0-1.8 1.3 2.5 2.5 0 0 0-.1.9V21h-2.9s.1-9.8 0-10.8h2.9v1.5a2.9 2.9 0 0 1 2.7-1.5c2 0 3.9 1.3 3.9 4.3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="caviar-home-footer-links__divider"></div>

        <div class="caviar-home-footer-links__links">
            <ul>
                <li><a href="#">Caviars</a></li>
                <li><a href="#">Saumons</a></li>
                <li><a href="#">Epicerie & Cave</a></li>
                <li><a href="#">Coffrets cadeaux</a></li>
                <li><a href="#">Accessoires</a></li>
            </ul>
            <ul>
                <li><a href="#">La marque</a></li>
                <li><a href="#">Nos marques partenaires</a></li>
                <li><a href="#">Prunier</a></li>
                <li><a href="#">Balik</a></li>
                <li><a href="#">Nos boutiques & restaurants & Seafood bars</a></li>
            </ul>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Service client</a></li>
                <li><a href="#">Contact entreprise</a></li>
                <li><a href="#">Questions fréquentes</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">CGV</a></li>
            </ul>
        </div>
        <div class="caviar-home-footer-links__divider"></div>

        <div class="caviar-home-footer-links__copyright">Caviar house @ 2026. Tous droits réservés.</div>
    </div>
</section>
