{% sw_extends '@Storfront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_vat %}
{#    {% if (salesChannel->id === '019956f2b5b172119eb6632a6e79fb2d') %}
        <h2>Hello world!</h2>
    {% else %} 
	{{ dump(context.salesChannel.id === '019956f2b5b172119eb6632a6e79fb2d') }}
    {% endif %} #}
{% endblock %}
