{% sw_extends '@Storfront/storefront/layout/footer.html.twig' %}
{#    {% block base_footer_inner %}#}
{#        {% sw_include '@CaviarHouseUK/storefront/layout/footer/logo.html.twig' %}#}
{#        {% sw_include '@CaviarHouseUK/storefront/layout/footer/footer_navigation/default.html.twig' %}#}
{#        {% endblock %}#}
{#    {% endblock %}#}

{#{% block layout_footer_navigation %}#}

{#    {% for item in footer.navigation.tree %}#}
{#        <li>{{ item.category.translated.name }}</li>#}
{#    {% endfor %}#}
{#    {{ dump(footer.navigation.tree) }}#}

{#    {% if theme_config('footer_navigation_layout_field') %}#}
{#        <div class="footer--columns block-group">#}
{#            {% if theme_config('footer_navigation_layout_field') == 'default' %}#}
{#                {% sw_include '@CaviarHouseUK/storefront/layout/footer/footer_navigation/default.html.twig' %}#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}

{#{% block layout_footer_copyright %}#}
{#    {% if theme_config('footer_copyright_layout_field') %}#}
{#        {{ parent() }}#}
{#    {% endif %}#}
{#{% endblock %}#}

