{% sw_extends '@Storefront/storefront/layout/footer.html.twig' %}

{% block base_footer %}
    <div class="logo-bar">
        <div class="container">
            <img src="{{ asset('/bundles/caviartheme/assets/img/Caviar-House-Prunier-Logo.png') }}" alt="logo"/>
        </div>
    </div>
    {{ parent() }}
{% endblock %}